*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GT America Trial', sans-serif;
}
.logo{
    width: 135px;
}
header{
    background-color: #000;
    color: #fff;
    padding: 14px 6px;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 8px;
}
.hero a{
    padding: 2px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0 8px;
}

nav ul li{
    padding: 12px 8px;

}
nav ul li a{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}
nav ul li:first-child a{
    background-color: rgb(43, 43, 43);
    padding: 12px 24px;
    border: 1px solid #fff;
    border-radius: 6px;
}
nav ul li:nth-child(2) a{
    background-color: #4C5FD5;
    padding: 13px 20px;
    border: none;
    border-radius: 6px;
}

nav ul li:nth-child(2) a:hover{
    background-color: #ffffff;
    color: #000;
}
.search_bar{
    height: 397px;
    width: 100%;
    background-color: #dadbf1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_bar .heading{
    padding: 0 12px;
    width: 720px;
}
.search_bar .heading h1{
    font-size: 68px;
    text-align: center;
    font-weight: lighter;
    padding: 20px;
}
.search_bar .heading input[type=text]{
    width: 100%;
    outline: none;
    border: 1px solid #4C5FD5;
    font-size: 18px;
    border-radius: 4px;
    height: 64px;
    
}
.search_bar .heading input,button{
    padding: 16px;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
form i{
    right: 16px;
    font-weight: lighter;
    position: absolute;
}
.service{
    padding: 64px 0;
    display: flex;
    justify-content: center;
}
.row {
    padding-top: 72px;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

.column {
    flex-basis: calc(50% - 10px);
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

.card{
    display: flex;
    flex-direction: row;
}
.card img{
    width: 125px;
    height: 100%;
    padding: 16px;
}
.content h2{
    padding: 16px 0;
    font-weight: bolder;
}
.content p{
    letter-spacing: 1.25px;
    font-size: 20px;
    padding: 16px 0;
}
.learn_button{
    text-decoration: none;
    color: #4C5FD5;
    font-size: 18px 0;
    letter-spacing: 1px;
    font-size: 18px;
}
.learn_button i{
    font-size: 12px;
}
footer{
    display: flex;
    justify-content: space-around;
    /* align-items: stretch; */
    background-color: #000;
    color: #fff;
    padding-top: 54px;
}
footer div h2{
    padding-bottom: 12px;
}
footer div ul{
    list-style: none;
}
footer div ul li{
    padding: 6px 0;
}
footer div ul li a{
    text-decoration: none;
    color: #fff;
    /* text-align: center; */
}
footer div ul li a:hover{
    text-decoration: underline;
}
div.contact h4{
    padding-top: 24px;
    padding-bottom: 10px;
}
.contact a{
    text-decoration: none;
    color: #fff;
}
.contact a:hover{
    text-decoration: underline;
}
.copyright img{
    padding-top: 48px;
    padding-bottom: 12px;
}
.copyright h3{
    padding: 3px 0;
    font-weight: normal;
}
@media screen and (max-width: 771px) {
    nav{
        width: 100%;
    }
    nav ul{
        display: none;
    }

}